.card_size img{
    height: 12rem;
}

.card {
    display: flex;
    padding: 1rem 1rem;
    border: 1px solid #000;
    background-color: rgb(205, 202, 236);
    justify-content: center;
    border-radius: 5px;
    ;
}